.App{
  padding: 40px ;
  height: 80vh;
 background-color: aquamarine;
 margin: 50px;
 width: 50%;
 margin: auto;
}
i{
  cursor: pointer;
}
/* header */
.show{
  display:  flex;
  justify-content: space-between;
}
.show i{
  font-size: 20px;
  margin-top: 30px;
}

/* Search */
.search{
  border-radius: 5px;
  border: 1px solid rgb(152, 149, 149);
  background-color: rgb(233, 230, 230);
}
i{
  padding: 0px 10px;
}
.search input{
  padding: 10px;
  width: 85%;
  outline: none;
  border: none;
  background-color: transparent;
}
/* comment */
.list_comment{
  padding: 20px 0px;
  display: flex;

  flex-wrap: wrap;
  gap: 10px;
}
.comment{
  width: 25%;
  padding: 20px;
  background-color: rgba(224, 222, 220, 0.701);
  border-radius: 10px;
}
.comment textarea{
  outline: none;
  border: none;
  background-color: transparent;
  margin-bottom: 20px;
  width: 100% !important;
  height: 200px;

}
.footer_comment_day{
  display: flex !important;
  justify-content: space-between !important;

}
.footer_comment_day i{
  margin-top: 4px;
  color: rgb(86, 91, 101);
}
.comment .footer_number_commet{
  display: flex;
  justify-content: space-between;
  color: rgb(58, 65, 81);
}
.render_comment{
  width:50%;
  padding: 20px;
  background-color: rgb(116, 236, 222);
  border-radius: 10px;
}
.render_comment p{
  height: 200px;
  margin-bottom: 20px;
}